@import "partials/variables";
@import "partials/mixins";

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.05rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, img{
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'PT Serif', serif;
}

p{
  line-height: 1.6rem;
  letter-spacing: .01rem;
}

.container{
  @include container-style;
}

.button{
  @include primary-button;
}

.button:hover{
  background-color: $button-hover-color;
}

.left{
  float: left;
}

.right{
  float: right;
}

.padding-left{
  padding-left: 40px;
}

.padding-right{
  padding-right: 40px;
}

// ••••••••••••••••••••HEADER•••••••••••••••••••••
header{
  background-color: $primary-color;
  padding: 20px 0;

  .container{

    .first-nav{
      float: left;
      display: flex;
      align-items: center;

      img{
        height:65px;
        margin-right: 20px;
        transition: all .2s ease-in-out;
      }

      img:hover{
        transform: scale(1.05);
      }

      li{
        @include horizontal-menu;

        a{
          color: white;
          text-decoration: none;
          padding-bottom: 5px;
          transition: color .2s ease-in-out;
          font-size: 1.05rem;
        }

        a:hover{
          border-bottom: $secondary-color solid 2px;
          color: $link-hover-color;
        }
      }
    }

    .second-nav{
      float: right;
      margin-top: 15px;
      display: flex;
      align-items: center;

      li{
        @include horizontal-menu;

        a{
          color: $h-color;
          text-decoration: none;
          font-size: .8rem;
        }

        a:hover{
          text-decoration: underline;
        }
      }


    }
  }

  .container::after{
    content:"";
    display:block;
    clear:both;
  }
}



// ••••••••••••••••••••HERO•••••••••••••••••••••
.hero{
  background-image: url(../images/hero/hero.jpg);
  background-size:cover;
  background-position: center;
  min-height:600px;

    .container{
      padding-top: 156px;

        h1{
          color: white;
          font-size: 4rem;
          margin-top: 50px;
        }

        h2{
          margin-top: 10px;
          color:white;
        }

        .button{
        display: flex;
        align-items: center;
        width: 180px;
        height: 30px;
        font-size: 1.1rem;
        margin-top: 20px;
      }
    }
}



// ••••••••••••••••••••PRESS•••••••••••••••••••••

.press{
  background-color: $form-background-color;

  .container{
    text-align: center;
    border-bottom: 1px solid $grey-border-color;
      img{
        width:13%;
      }
  }
}



// ••••••••••••••••••••INFO•••••••••••••••••••••

.info{
  padding:4rem 0;
  line-height: 1.6rem;

  .container{
    overflow: hidden;

      .eight{
        @include eight;
        padding-right: 40px;

        h3{
          color: $primary-color;
          font-family: 'PT serif', serif;
          font-size: 1.5rem;
          font-style: italic;
          color: $h-color;
          margin-bottom: 20px;
        }

        p{
          margin-bottom: 40px;
        }
      }

      .form{
        @include four;
        @include form-box;
      }
  }

}



// ••••••••••••••••••••DISCOVER•••••••••••••••••••••

.discover{
  padding: 4rem 0;
  background-color: $form-background-color;
  border-bottom: 1px solid $grey-border-color;

  .container{

    .discover-details{
      @include eight;
      margin: auto;
      text-align: center;

      h2{
        font-size: 2rem;
        color: $h-color;
        font-style: italic;
        margin-bottom: 20px;
      }

      p{
        color: $primary-color;
      }
    }

    .course-row{
      @include ten;
      overflow: hidden;
      margin:auto;

      .course{
        @include three;
        margin-top: 50px;
        text-align: center;
        padding: 0 30px;

        a{

          text-decoration: none;
          text-align: center;

          img{
            height: 100%;
            margin-bottom: 20px;
          }

        }


        p{
          font-size: 1.1rem;
          font-family: 'PT serif', serif;
          text-transform: uppercase;
          letter-spacing: .1rem;
        }

        .front-end{
          color:$front-end-color;
        }

        .back-end{
          color: $back-end-color;
        }

        .mobile{
          color:$mobile-color;
        }

        .design{
          color:$ui-design-color;
        }

      }
    }

  }
}


// ••••••••••••••••••••STUDENTS•••••••••••••••••••••
.students{
  padding: 4rem 0;

  .container{
    overflow: hidden;

    .quote{
      @include four;
      color: $h-color;

      h3{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      h2{
        font-size: 1.8rem;
        font-style: italic;
        line-height: 2.5rem;
        margin-bottom: 30px;
      }

      .button{
        display: flex;
        align-items: center;
        width: 180px;
        font-size: 1.1rem;
        margin-top: 20px;
        border-bottom: 2px solid $button-hover-color;
      }
    }

    .stories{
      @include seven;
      text-align: center;
      overflow: hidden;

      img{
        border-radius: 50%;
        width: 106px;
        border: 4px solid $front-end-color;

      }

      .profile{
        @include six;
        padding: 0 15px;

        p{
          @include profile-paragraph;
        }

        a{
          text-decoration: none;
          color: $secondary-color;
        }

        a:hover{
          text-decoration: underline;
        }

        h3{
          font-style: italic;
          font-weight: 100;
          color:$h-color;
          font-size: 1.3rem;
          margin-top: 10px;
        }
      }


    }
  }
}



// ••••••••••••••••••••EMPLOYERS•••••••••••••••••••••
.employers{
  background-image: url(../images/employers/employers-image.jpg);
  background-size:cover;
  background-position: center;
  padding: 4rem 0;

  .container{
    text-align: center;

    .employers-details{
      @include eight;
      text-align: center;
      color: white;
      margin: auto;
      margin-bottom: 4rem;

      h2{
        margin-bottom: 20px;
        font-size: 2rem;
        font-style: italic;
      }
    }

    .employer-logo{
      width: 33%;
      display: inline-block;
      text-align: center;

      img{
        width:50%;
      }
    }

    .button{
      margin-top: 4rem;
      font-size: 1.1rem;
      width: 400px;
      border-bottom: 2px solid $button-hover-color;
    }
  }
}



// ••••••••••••••••••••QUESTIONS•••••••••••••••••••••
.questions{
  .container{
    padding: 4rem 20px;
    overflow: hidden;

    .talk{
      @include six;
      padding-right: 40px;
      color: $h-color;

      h3{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      h2{
        font-size: 1.8rem;
        font-style: italic;
        margin-bottom: 20px;
      }

      p{

      }
    }

    .form{
      width: 24%;
      box-sizing: border-box;
      @include form-box;
      margin-bottom: 20px;

      p{
        min-height: 80px;
      }
    }
  }
}



// ••••••••••••••••••••FOOTER•••••••••••••••••••••
// footer{
//   padding: 2rem 0;
//   background-color: $primary-color;
//
//   .container{
//     font-size: .8rem;
//     overflow: hidden;
//
//     .footer-left{
//       @include six;
//       overflow: hidden;
//
//       .footer-list{
//         @include footer-list;
//       }
//     }
//   }
// }




// ••••••••••••••••••••MEDIA QUERIES•••••••••••••••••••••
@media (max-width:1200px) {}


@media (max-width:1025px) {}


@media (max-width:991px) {}


@media (max-width:767px) {}
