@import "partials/variables";
@import "partials/mixins";

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.05rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, img{
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'PT Serif', serif;
  letter-spacing: .1rem;
}


.container{
  @include container-style;
}

.button{
  @include primary-button;
}

.button:hover{
  background-color: $button-hover-color;
}

.left{
  float: left;
}

.right{
  float: right;
}

// ••••••••••••••••••••HEADER•••••••••••••••••••••
header{
  background-color: $primary-color;
  padding: 20px 0;

  .container{

    .first-nav{
      float: left;
      display: flex;
      align-items: center;

      img{
        height:65px;
        margin-right: 20px;
        transition: all .2s ease-in-out;
      }

      img:hover{
        transform: scale(1.05);
      }

      li{
        @include horizontal-menu;

        a{
          color: white;
          text-decoration: none;
          padding-bottom: 5px;
          transition: color .2s ease-in-out;
          font-size: 1.05rem;
        }

        a:hover{
          border-bottom: $secondary-color solid 2px;
          color: $link-hover-color;
        }
      }
    }

    .second-nav{
      float: right;
      margin-top: 15px;
      display: flex;
      align-items: center;

      li{
        @include horizontal-menu;

        a{
          color:white;
          opacity: .4;
          text-decoration: none;
          font-size: .8rem;
        }

        a:hover{
          text-decoration: underline;
        }
      }


    }
  }

  .container::after{
    content:"";
    display:block;
    clear:both;
  }
}



// ••••••••••••••••••••HERO•••••••••••••••••••••
.hero{
  background-image: url(../images/hero/hero.jpg);
  background-size:cover;
  min-height:600px;

    .container{
      padding-top: 156px;

        h1{
          color: white;
          font-size: 4rem;
          margin-top: 50px;
        }

        h2{
          margin-top: 10px;
          color:white;
        }

        .button{
        display: flex;
        align-items: center;
        width: 180px;
        font-size: 1.1rem;
        margin-top: 20px;
      }
    }
}



// ••••••••••••••••••••PRESS•••••••••••••••••••••

.press{
  background-color: $form-background-color;

  .container{
    text-align: center;
    border-bottom: 1px solid $grey-border-color;
      img{
        width:13%;
      }
  }
}



// ••••••••••••••••••••INFO•••••••••••••••••••••

.info{
  padding:4rem 0;
  line-height: 1.6rem;

  .container{
    overflow: hidden;

      .eight{
        @include eight;

        h3{
          color: $primary-color;
          font-size: 1.5rem;
          font-style: italic;
          color: $h-color;
          margin-bottom: 20px;
        }

        p{
          margin-bottom: 40px;
        }
      }

      .four{
        @include four;
        background: $form-background-color;
        border-bottom: 2px solid $grey-border-color;
        padding:20px;
        border-radius: 10px;

        h4{
          font-size: .9rem;
          font-weight: 700;
        }
      }
  }

}
