body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.05rem; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, img {
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  font-family: 'PT Serif', serif; }

p {
  line-height: 1.6rem;
  letter-spacing: .01rem; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.button {
  display: inline-block;
  background-color: #6FBBB7;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
  border: none;
  font-size: .9rem; }

.button:hover {
  background-color: #4FA8A3; }

.left {
  float: left; }

.right {
  float: right; }

.padding-left {
  padding-left: 40px; }

.padding-right {
  padding-right: 40px; }

.clearfix {
  overflow: hidden; }

header {
  background-color: #39474E;
  padding: 7px 0; }
  header .container .first-nav {
    float: left;
    display: flex;
    align-items: center; }
    header .container .first-nav img {
      height: 43px;
      margin-right: 20px;
      transition: all .2s ease-in-out; }
    header .container .first-nav img:hover {
      transform: scale(1.05); }
    header .container .first-nav li {
      float: left;
      list-style-type: none;
      padding-right: 25px;
      display: none; }
      header .container .first-nav li a {
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
        transition: color .2s ease-in-out;
        font-size: .8rem; }
      header .container .first-nav li a:hover {
        border-bottom: #6FBBB7 solid 2px;
        color: #889195; }
  header .container .second-nav {
    float: right;
    display: none;
    align-items: center;
    margin-top: 14px; }
    header .container .second-nav li {
      float: left;
      list-style-type: none;
      padding-right: 25px; }
      header .container .second-nav li a {
        color: #727D84;
        text-decoration: none;
        font-size: .8rem; }
      header .container .second-nav li a:hover {
        text-decoration: underline; }
  header .container .hamburger-menu {
    margin-top: 15px; }
    header .container .hamburger-menu a {
      text-decoration: none;
      color: white; }
  header .container::after {
    content: "";
    display: block;
    clear: both; }

.hero {
  background-image: url(../images/hero/hero.jpg);
  background-size: cover;
  background-position: center; }
  .hero .container {
    padding: 3rem 20px 4.5rem; }
    .hero .container h1 {
      color: white;
      font-size: 2rem; }
    .hero .container h2 {
      margin-top: 10px;
      color: white;
      font-size: 1rem; }
    .hero .container .button {
      display: flex;
      align-items: center;
      width: 180px;
      height: 30px;
      font-size: 1.1rem;
      margin-top: 20px; }

.press {
  background-color: #EBEBEB;
  display: none;
  border-bottom: 1px solid #D5D5D5; }
  .press .container {
    text-align: center; }
    .press .container img {
      width: 13%; }

.info {
  padding: 4rem 0;
  line-height: 1.6rem; }
  .info .container {
    overflow: hidden; }
    .info .container .talking-points h3 {
      color: #39474E;
      font-family: 'PT serif', serif;
      font-size: 1.5rem;
      font-style: italic;
      color: #727D84;
      margin: 20px 0; }
    .info .container .talking-points p {
      margin-bottom: 40px; }
    .info .container .form {
      background: #EBEBEB;
      border-bottom: 2px solid #D5D5D5;
      padding: 25px;
      border-radius: 10px;
      color: #39474E;
      margin-bottom: 20px;
      box-sizing: border-box; }
      .info .container .form h4 {
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: 10px; }
      .info .container .form p {
        font-size: .9rem; }
      .info .container .form form {
        margin-top: 15px; }
        .info .container .form form input {
          font-family: serif;
          font-style: italic;
          font-weight: lighter;
          margin-bottom: 10px; }
        .info .container .form form ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-weight: 100; }
        .info .container .form form ::-moz-placeholder {
          /* Firefox 19+ */
          font-weight: 100; }
        .info .container .form form :-ms-input-placeholder {
          /* IE 10+ */
          font-weight: 100; }
        .info .container .form form :-moz-placeholder {
          /* Firefox 18- */
          font-weight: 100; }
        .info .container .form form input:focus {
          outline: none; }
        .info .container .form form .half-width {
          width: 48%;
          box-sizing: border-box;
          padding: 10px 5px; }
        .info .container .form form .full-width {
          width: 100%;
          box-sizing: border-box;
          padding: 10px 5px; }
      .info .container .form .button {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 2px solid #4FA8A3;
        font-size: 1.1rem; }

.discover {
  padding: 4rem 0;
  background-color: #EBEBEB;
  border-bottom: 1px solid #D5D5D5; }
  .discover .container .discover-details {
    margin: auto;
    text-align: center; }
    .discover .container .discover-details h2 {
      font-size: 2rem;
      color: #727D84;
      font-style: italic;
      margin-bottom: 20px; }
    .discover .container .discover-details p {
      color: #39474E; }
  .discover .container .course-row {
    overflow: hidden;
    margin: auto; }
    .discover .container .course-row .course {
      margin-top: 50px;
      text-align: center; }
      .discover .container .course-row .course a {
        text-decoration: none;
        text-align: center; }
        .discover .container .course-row .course a img {
          height: 100%;
          margin-bottom: 20px; }
      .discover .container .course-row .course p {
        font-size: 1.1rem;
        font-family: 'PT serif', serif;
        text-transform: uppercase;
        letter-spacing: .1rem; }
      .discover .container .course-row .course .front-end {
        color: #ce832d; }
      .discover .container .course-row .course .back-end {
        color: #b8584c; }
      .discover .container .course-row .course .mobile {
        color: #d3b42b; }
      .discover .container .course-row .course .design {
        color: #35a0ad; }

.students {
  padding: 4rem 0 0; }
  .students .container {
    overflow: hidden; }
    .students .container .quote {
      color: #727D84;
      margin-bottom: 6rem; }
      .students .container .quote h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 40px; }
      .students .container .quote h2 {
        font-size: 1.8rem;
        font-style: italic;
        line-height: 2.5rem;
        margin-bottom: 30px; }
      .students .container .quote .button {
        display: flex;
        align-items: center;
        width: 180px;
        font-size: 1.1rem;
        margin-top: 20px;
        border-bottom: 2px solid #4FA8A3; }
    .students .container .stories {
      text-align: center;
      overflow: hidden; }
      .students .container .stories img {
        border-radius: 50%;
        width: 106px;
        border: 4px solid #ce832d; }
      .students .container .stories .profile {
        padding: 0 15px;
        margin-bottom: 3rem; }
        .students .container .stories .profile p {
          text-align: left;
          font-style: italic;
          font-size: 1.15rem;
          line-height: 1.5rem;
          margin: 15px 0;
          color: #727D84; }
        .students .container .stories .profile a {
          text-decoration: none;
          color: #6FBBB7; }
        .students .container .stories .profile a:hover {
          text-decoration: underline; }
        .students .container .stories .profile h3 {
          font-style: italic;
          font-weight: 100;
          color: #727D84;
          font-size: 1.3rem;
          margin-top: 10px; }

.employers {
  background-image: url(../images/employers/employers-image.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 0; }
  .employers .container {
    text-align: center; }
    .employers .container .employers-details {
      text-align: center;
      color: white;
      margin: auto;
      margin-bottom: 4rem; }
      .employers .container .employers-details h2 {
        margin-bottom: 20px;
        font-size: 2rem;
        font-style: italic; }
    .employers .container .employer-logo {
      width: 100%;
      display: inline-block;
      text-align: center; }
      .employers .container .employer-logo img {
        width: 50%;
        max-width: 230px; }
    .employers .container .button {
      margin-top: 4rem;
      font-size: 1.1rem;
      line-height: 1.5rem;
      border-bottom: 2px solid #4FA8A3; }

.questions .container {
  padding: 4rem 20px;
  overflow: hidden; }
  .questions .container .talk {
    color: #727D84;
    margin-bottom: 20px; }
    .questions .container .talk h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .questions .container .talk h2 {
      font-size: 1.8rem;
      font-style: italic;
      margin-bottom: 20px; }
  .questions .container .form1, .questions .container .form2 {
    background: #EBEBEB;
    border-bottom: 2px solid #D5D5D5;
    padding: 25px;
    border-radius: 10px;
    color: #39474E;
    margin-bottom: 20px;
    box-sizing: border-box; }
    .questions .container .form1 h4, .questions .container .form2 h4 {
      font-size: .9rem;
      font-weight: 700;
      margin-bottom: 10px; }
    .questions .container .form1 p, .questions .container .form2 p {
      font-size: .9rem; }
    .questions .container .form1 form, .questions .container .form2 form {
      margin-top: 15px; }
      .questions .container .form1 form input, .questions .container .form2 form input {
        font-family: serif;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 10px; }
      .questions .container .form1 form ::-webkit-input-placeholder, .questions .container .form2 form ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-weight: 100; }
      .questions .container .form1 form ::-moz-placeholder, .questions .container .form2 form ::-moz-placeholder {
        /* Firefox 19+ */
        font-weight: 100; }
      .questions .container .form1 form :-ms-input-placeholder, .questions .container .form2 form :-ms-input-placeholder {
        /* IE 10+ */
        font-weight: 100; }
      .questions .container .form1 form :-moz-placeholder, .questions .container .form2 form :-moz-placeholder {
        /* Firefox 18- */
        font-weight: 100; }
      .questions .container .form1 form input:focus, .questions .container .form2 form input:focus {
        outline: none; }
      .questions .container .form1 form .half-width, .questions .container .form2 form .half-width {
        width: 48%;
        box-sizing: border-box;
        padding: 10px 5px; }
      .questions .container .form1 form .full-width, .questions .container .form2 form .full-width {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 5px; }
    .questions .container .form1 .button, .questions .container .form2 .button {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      border-bottom: 2px solid #4FA8A3;
      font-size: 1.1rem; }
    .questions .container .form1 p, .questions .container .form2 p {
      min-height: 80px; }

@media (min-width: 600px) {
  .hero {
    line-height: 2.5rem; }
    .hero .container {
      min-height: 450px; }
      .hero .container h1 {
        margin-top: 6rem; }

  .press {
    display: block; } }
@media (min-width: 767px) {
  .container {
    max-width: 800px; }

  header {
    padding: 20px 0; }
    header .container .first-nav img {
      height: 65px; }
    header .container .first-nav li {
      display: inline-block; }
    header .container .second-nav {
      display: flex; }
    header .container .hamburger-menu {
      display: none; }

  .info .form {
    width: 50%;
    box-sizing: border-box; }

  .discover .container {
    padding: 1rem 20px; }
    .discover .container .course-row .course {
      width: 25%;
      box-sizing: border-box;
      float: left; }

  .students .container .stories .profile {
    width: 50%;
    box-sizing: border-box;
    float: left; }
    .students .container .stories .profile p {
      min-height: 100px; }

  .employers .container {
    padding: 1rem 20px 0; }
    .employers .container .employer-logo {
      width: 32%; }
    .employers .container a {
      width: 450px; }

  .questions .container .form1 {
    width: 48%;
    float: left; }
  .questions .container .form2 {
    width: 48%;
    float: right; } }
@media (min-width: 990px) {
  .container {
    max-width: 970px; }

  header .container .first-nav li a {
    font-size: 1.1rem; }

  .discover .container {
    width: 750px; }

  .students .container .quote {
    width: 33.333%;
    box-sizing: border-box;
    float: left;
    margin-right: 20px; }
  .students .container .stories {
    width: 58.333%;
    box-sizing: border-box; }
    .students .container .stories .profile p {
      min-height: 180px; }

  .employers .container .employers-details {
    width: 750px; }

  .questions .container .talk {
    width: 33.333%;
    box-sizing: border-box;
    float: left;
    padding-right: 40px; }
  .questions .container .form1, .questions .container .form2 {
    width: 31%; } }
@media (min-width: 1025px) {
  .hero .container {
    min-height: 600px; }
    .hero .container h1 {
      font-size: 3.5rem;
      line-height: 4rem;
      margin-top: 9rem; }
    .hero .container h2 {
      font-size: 1.4rem; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }

  .info .container .talking-points {
    width: 66.666%;
    box-sizing: border-box;
    float: left;
    padding-right: 40px; }
  .info .container .form {
    width: 33.333%;
    box-sizing: border-box;
    float: right; }

  .students .container {
    width: 83.333%;
    box-sizing: border-box; }
    .students .container .stories {
      float: right; }

  .questions .container .talk {
    width: 50%;
    box-sizing: border-box; }
  .questions .container .form1, .questions .container .form2 {
    width: 24%; } }

/*# sourceMappingURL=style.css.map */
