body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.05rem; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, img {
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  font-family: 'PT Serif', serif; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }

.button {
  display: inline-block;
  background-color: #6FBBB7;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
  border: none;
  font-size: .9rem; }

.button:hover {
  background-color: #4FA8A3; }

.left {
  float: left; }

.right {
  float: right; }

header {
  background-color: #39474E;
  padding: 20px 0; }
  header .container .first-nav {
    float: left;
    display: flex;
    align-items: center; }
    header .container .first-nav img {
      height: 65px;
      margin-right: 20px;
      transition: all .2s ease-in-out; }
    header .container .first-nav img:hover {
      transform: scale(1.05); }
    header .container .first-nav li {
      float: left;
      list-style-type: none;
      padding-right: 25px; }
      header .container .first-nav li a {
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
        transition: color .2s ease-in-out;
        font-size: 1.05rem; }
      header .container .first-nav li a:hover {
        border-bottom: #6FBBB7 solid 2px;
        color: #889195; }
  header .container .second-nav {
    float: right;
    margin-top: 15px;
    display: flex;
    align-items: center; }
    header .container .second-nav li {
      float: left;
      list-style-type: none;
      padding-right: 25px; }
      header .container .second-nav li a {
        color: white;
        opacity: .4;
        text-decoration: none;
        font-size: .8rem; }
      header .container .second-nav li a:hover {
        text-decoration: underline; }
  header .container::after {
    content: "";
    display: block;
    clear: both; }

.hero {
  background-image: url(../images/hero/hero.jpg);
  background-size: cover;
  min-height: 600px; }
  .hero .container {
    padding-top: 156px; }
    .hero .container h1 {
      color: white;
      font-size: 4rem;
      margin-top: 50px; }
    .hero .container h2 {
      margin-top: 10px;
      color: white; }
    .hero .container .button {
      display: flex;
      align-items: center;
      width: 180px;
      font-size: 1.1rem;
      margin-top: 20px; }

.press {
  background-color: #EBEBEB; }
  .press .container {
    text-align: center;
    border-bottom: 1px solid #D5D5D5; }
    .press .container img {
      width: 13%; }

.info {
  padding: 4rem 0;
  line-height: 1.6rem; }
  .info .container {
    overflow: hidden; }
    .info .container .eight {
      width: 66.666%;
      box-sizing: border-box;
      padding-right: 40px; }
      .info .container .eight h3 {
        color: #39474E;
        font-family: 'PT serif', serif;
        font-size: 1.5rem;
        font-style: italic;
        color: #727D84;
        margin-bottom: 20px; }
      .info .container .eight p {
        margin-bottom: 40px; }
    .info .container .four {
      width: 33.333%;
      box-sizing: border-box;
      background: #EBEBEB;
      border-bottom: 2px solid #D5D5D5;
      padding: 25px;
      border-radius: 10px; }
      .info .container .four h4 {
        font-size: .9rem;
        font-weight: 700; }
      .info .container .four p {
        font-size: .9rem;
        line-height: 2rem; }
      .info .container .four form {
        margin-top: 15px; }
        .info .container .four form input {
          font-family: serif;
          font-style: italic;
          font-weight: lighter;
          margin-bottom: 10px; }
        .info .container .four form ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-weight: 100; }
        .info .container .four form ::-moz-placeholder {
          /* Firefox 19+ */
          font-weight: 100; }
        .info .container .four form :-ms-input-placeholder {
          /* IE 10+ */
          font-weight: 100; }
        .info .container .four form :-moz-placeholder {
          /* Firefox 18- */
          font-weight: 100; }
        .info .container .four form input:focus {
          outline: none; }
        .info .container .four form .half-width {
          width: 48%;
          box-sizing: border-box;
          padding: 10px 5px; }
        .info .container .four form .full-width {
          width: 100%;
          box-sizing: border-box;
          padding: 10px 5px; }
      .info .container .four .button {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 2px solid #4FA8A3;
        font-size: 1.1rem; }

.discover {
  padding: 4rem 0;
  background-color: #EBEBEB;
  border-bottom: 1px solid #D5D5D5; }
  .discover .container {
    width: 50%;
    box-sizing: border-box;
    min-width: 720px;
    text-align: center;
    margin: auto;
    overflow: hidden; }
    .discover .container h2 {
      font-size: 2rem;
      color: #727D84;
      font-style: italic;
      margin-bottom: 20px; }
    .discover .container p {
      line-height: 1.5rem;
      color: #39474E; }
    .discover .container .course {
      width: 25%;
      box-sizing: border-box;
      margin-top: 50px; }
      .discover .container .course a {
        text-decoration: none;
        text-align: center; }
        .discover .container .course a img {
          height: 100%;
          margin-bottom: 20px; }
      .discover .container .course p {
        font-size: 1.1rem;
        font-family: 'PT serif', serif;
        text-transform: uppercase;
        letter-spacing: .1rem; }
      .discover .container .course .front-end {
        color: #ce832d; }
      .discover .container .course .back-end {
        color: #b8584c; }
      .discover .container .course .mobile {
        color: #d3b42b; }
      .discover .container .course .design {
        color: #35a0ad; }

.students {
  padding: 4rem 0; }
  .students .container {
    overflow: hidden; }
    .students .container .quote {
      width: 33.333%;
      box-sizing: border-box;
      color: #727D84; }
      .students .container .quote h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 40px; }
      .students .container .quote h2 {
        font-size: 1.8rem;
        font-style: italic;
        line-height: 2.5rem;
        margin-bottom: 30px; }
      .students .container .quote .button {
        display: flex;
        align-items: center;
        width: 180px;
        font-size: 1.1rem;
        margin-top: 20px;
        border-bottom: 2px solid #4FA8A3; }
    .students .container .stories {
      width: 58.333%;
      box-sizing: border-box;
      text-align: center;
      overflow: hidden; }
      .students .container .stories img {
        border-radius: 50%;
        width: 106px;
        border: 4px solid #ce832d; }
      .students .container .stories .profile {
        width: 50%;
        box-sizing: border-box;
        padding: 0 10px; }
        .students .container .stories .profile p {
          text-align: left;
          font-style: italic;
          font-size: 1.15rem;
          min-height: 125px;
          line-height: 1.5rem;
          margin: 15px 0;
          color: #727D84; }
        .students .container .stories .profile a {
          text-decoration: none;
          color: #6FBBB7; }
        .students .container .stories .profile a:hover {
          text-decoration: underline; }
        .students .container .stories .profile h3 {
          font-style: italic;
          font-weight: 100;
          color: #727D84;
          font-size: 1.3rem;
          margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
