$primary-color: #39474E;
$secondary-color: #6FBBB7;
$button-hover-color: #4FA8A3;
$form-background-color: #EBEBEB;
$link-hover-color: #889195;
$grey-border-color: #D5D5D5;
$h-color: #727D84;
$front-end-color: rgb(206,131,45);
$back-end-color: rgb(184,88,76);
$mobile-color: rgb(211,180,43);
$ui-design-color: rgb(53,160,173);
